{% extends 'base.html' %}

{% block content %}

<div class="main-acc-cont">
    <div class="welc-user backgrd">
        <div class="wel-msg">
            <h1>Welcome {{ current_user.username }}!</h1>
            <p>Please use this account page to keep track or book any treatments you would like to experience with us.</p>
            <p>This page also holds your account information that includes you customer ID. That ID  will help our staff members to personally know that we are communicating with you and no one else within the complex during your stay</p>
        </div>
    </div>
    <div class="acc-info backgrd">
        <div class="acc-details">
            <h1>Account Info</h1>
            <p><strong>Customer ID:</strong> {{ current_user.id }} </p>
            <p><strong>Name:</strong> {{ current_user.name }} </p>
            <p><strong>Username:</strong> {{ current_user.username }} </p>
            <p><strong>Email:</strong> {{ current_user.email }} </p>
            <p><strong>Date Joined:</strong> {{ current_user.date_added }} </p>
        </div>
    </div>
    <div class="backgrd sidebar" id="bk-select">
        <div id="no-bk" class="bk-view">
            <h1>Treatments</h1>
            <h5>No treatments booked</h5>
        </div>

            <!-- <div id="fm-data" class="form-data">
                <div class="data-content">
                    <h5>Appointment</h5>
                    <p><strong>Name:</strong> {{ current_user.name }}</p>
                    <p><strong>Day:</strong> {{ bookings.day }}</p>
                    <p><strong>Time:</strong> {{ bookings.time }}</p>
                    <p><strong>Massage:</strong> {{ bookings.massage }}</p>
                    <p><strong>Facials:</strong> {{ bookings.facials }}</p>
                    <p><strong>Manicure/Pedicure:</strong> {{ bookings.handFoot }}</p>
                    <p><strong>Waxing:</strong> {{ bookings.waxing }}</p>
                </div>
                <div>
                    <input type="submit" id="edit" value="Edit">
                    <input type="submit" id="del" value="Delete">
                </div>
            </div> -->
            <button class="btn btn-dark"><a href="{{ url_for('bookings') }}">Book Treatments</a></button>
    </div>
</div>

{% endblock %}