{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if flash_message %}
        {% for category, message in messages %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="main-acc-cont">
    <div class="welc-user backgrd">
        <div class="wel-msg">
            <h1>Welcome {{ current_user.username }}!</h1>
            <p>Please use this account page to keep track or book any treatments you would like to experience with us.</p>
            <p>This page also holds your account information that includes you customer ID. That ID  will help our staff members to personally know that we are communicating with you and no one else within the complex during your stay</p>
        </div>
    </div>
    <div class="acc-info backgrd">
        <div class="acc-details">
            <h1>Account Info</h1>
            <p><strong>Customer ID:</strong> {{ current_user.id }} </p>
            <p><strong>Name:</strong> {{ current_user.name }} </p>
            <p><strong>Username:</strong> {{ current_user.username }} </p>
            <p><strong>Email:</strong> {{ current_user.email }} </p>
            <p><strong>Date Joined:</strong> {{ current_user.date_added }} </p>
        </div>
    </div>
</div>
    <div class="backgrd sidebar" id="accounts">
        <div>
            <table class="table table-hover table-bordered table-striped" >
                {% for booking in bookings %}
                <tbody class="bk-data">
                    <tr>
                        <td>
                            
                            <strong>Day:</strong> {{ booking.day }}<br>
                            <strong>Time Frame:</strong> {{ booking.timeFrame }}<br>
                            <strong>Time:</strong> {{ booking.time }}<br>
                            <strong>Massage:</strong> {{ booking.massage }}<br>
                            <strong>Facials:</strong> {{ booking.facials }}<br>
                            <strong>Hand & Foot:</strong> {{ booking.handFoot }}<br>
                            <strong>Waxing:</strong> {{ booking.waxing }}<br>
                            <button><a href="{{ url_for('update', id=current_user.id) }}">Update</a></button>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>  
    </div>

{% endblock %}



