{% extends 'base.html' %}

{% block content %}

<div class="form-wrapper">
    <div class="form-container">
        <form class="form-content" action="" enctype="multipart/form-data" id="bkForm" method="POST">
            <input type="hidden" name="user_id" value="{{ current_user.id }}">
            <div class="fm-title">
                <h1>Appointment Request Form</h1>
                <h6>For all requests, please fill out the form below</h6>
                <hr>
            </div>
            <div class="fm-input">
                <div class="days">
                    <h5><strong>What day is best for you?</strong></h5>
                    {% if form.day.errors %}
                    {{ form.day(class="form-control form-control-md is-invalid required") }}
                    <div class="invalid-feedback">
                        {% for error in form.day.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.day(class="form-control form-control-md required") }}
                {% endif %}
                </div>
                <hr>
                <div class="time-frame">
                    <h5><strong>What time frame works best for you?</strong></h5>
                    {% if form.timeFrame.errors %}
                    {{ form.timeFrame(class="form-control form-control-md is-invalid required") }}
                    <div class="invalid-feedback">
                        {% for error in form.timeFrame.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.timeFrame(class="form-control form-control-md required") }}
                {% endif %}  
                </div>
                <hr>
                <div class="time">
                    <h5><strong>Do you have a preferable time?</strong></h5>
                    {% if form.time.errors %}
                    {{ form.time(class="form-control form-control-md is-invalid required") }}
                    <div class="invalid-feedback">
                        {% for error in form.time.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.time(class="form-control form-control-md required") }}
                {% endif %}           
                </div>
                <hr>
                <div class="trt-chk">
                    <h5><strong>Treatment choice</strong></h5>
                    <div class="grid">
                        <div class="g1">
                    <h6>Massage</h6>
                    {% if form.massage.errors %}
                    {{ form.massage(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.massage.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.massage(class="form-control form-control-md") }}
                {% endif %}                  
                    <h6>Facials</h6>
                    {% if form.facials.errors %}
                    {{ form.facials(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.facials.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.facials(class="form-control form-control-md") }}
                {% endif %}            
                        </div>
                        <div class="g2">
                    <h6>Hand & Foot</h6>
                    {% if form.handFoot.errors %}
                    {{ form.handFoot(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.handFoot.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.handFoot(class="form-control form-control-md") }}
                {% endif %}              
                    <h6>Waxing</h6>
                    {% if form.waxing.errors %}
                    {{ form.waxing(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.waxing.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.waxing(class="form-control form-control-md") }}
                {% endif %}               
                        </div>
                    </div>
                </div>
                <hr>
                <div class="tc">
                    {% if form.terms.errors %}
                    {{ form.terms(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.terms.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.terms(class="required") }}
                {% endif %}
                {{ form.terms.label }}    
                </div>
                <hr>
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>
    </div>
</div>


{% endblock %}
