{% extends 'base.html' %}

{% block content %}

<div class="form-wrapper">
    <div class="form-container">
        <form class="form-content" action="" name="booking" method="post">
            <div class="fm-title">
                <h1>Appointment Request Form</h1>
                <h6>For all requests, please fill out the form below</h6>
                <hr>
            </div>
            <div class="fm-input">
                <div class="days">
                    <h5><strong>What day is best for you?</strong></h5>
                    <input type="checkbox" value="Monday"> Monday
                    <input type="checkbox" value="Tuesday"> Tuesday
                    <input type="checkbox" value="Wednesday"> Wednesday
                    <input type="checkbox" value="Thursday"> Thursday
                    <input type="checkbox" value="Friday"> Friday
                    <input type="checkbox" value="Saturday"> Saturday
                    <input type="checkbox" value="Sunday"> Sunday
                </div>
                <hr>

                <div class="time-frame">
                    <h5><strong>What works best for you?</strong></h5>
                    <input type="checkbox" value="Monday"> Morning(8am-12pm)
                    <input type="checkbox" value="Tuesday"> Afternoon(12pm-5pm)
                    <input type="checkbox" value="Wednesday"> Evening(5pm-10pm)
                </div>
                <hr>


                <div class="time">
                    <h5><strong>Do you have a preferable time?</strong></h5>
                    <input type="text" placeholder="Example: 9am" required>
                </div>
                <hr>

                <div class="trt-chk">
                    <h5><strong>Treatment choice</strong></h5>
                    <h6>Massage</h6>
                    <select name="Massage" id="Massage">
                        <option selected disabled>Please choose a treatment</option>
                        <option value="Body Radiance">Body Radiance</option>
                        <option value="Deep Tissue">Deep Tissue</option>
                        <option value="Sports Massage">Sports Massage</option>
                    </select>
                    <h6>Facials</h6>
                    <select name="Facials" id="Facials">
                        <option selected disabled>Please choose a treatment</option>
                        <option value="Dermaplane Facial">Dermaplane Facial</option>
                        <option value="Microneedling Facial">Microneedling Facial</option>
                        <option value="Biotec Facial">Biotec Facial</option>
                    </select>
                    <h6>Hand & Foot</h6>
                    <select name="HandFoot" id="HandFoot">
                        <option selected disabled>Please choose a treatment</option>
                        <option value="Manicure">Manicure</option>
                        <option value="Pedicure">Pedicure</option>
                        <option value="Ultimate Foot Transformation">Ultimate Foot Transformation</option>
                    </select>
                    <h6>Waxing</h6>
                    <select name="Waxing" id="Waxing">
                        <option selected disabled>Please choose a treatment</option>
                        <option value="Bikini Wax">Bikini Wax</option>
                        <option value="Full Leg Wax">Full Leg Wax</option>
                        <option value="Men's Ultimate Ritual">Men's Ultimate Ritual</option>
                    </select>
                </div>
                <hr>

                <div class="tc">
                    <input type="checkbox" name="confirm" id="confirm" required>By checking this box you adhere to the Terms and Conditions
                </div>
                <hr>

                <input class="btn btn-dark" type="button" value="Submit">


            </div>
        </form>
    </div>
</div>


{% endblock %}
