{% extends 'base.html' %}


{% block content %}
<div class="hm-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="homelog">
        <div class="home-title">
            <h1>Welcome</h1>
            <p>We hope you enjoy your stay with us here at the Body Reform Spa! <br> where you can expect a truly professional experience indulging in the many treatments we have on offer.</p>
            <p>Please use this app to book your treatments with us during your stay.</p>
            <h4>Remember..Your in control</h4>
        </div>
    </div>
    <div class="log-container">
        <div class="login">
            {% include 'login.html' %}
        </div>
    </div>
</div>


{% endblock %}
