{% block content %}

    <form class="log-form needs-validation" method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mb-4">Log In</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-md is-invalid required") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-md required") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-md is-invalid required") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{  error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-md required") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group reg-btn">
            {{ form.submit(class="btn btn-dark") }}
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign up now</a>
        </small>
    </div>











    <!-- <div class="log-form">
        <h2>Please Log In</h2>
        <form action="" method="POST">
            <input type="name" name="name" placeholder="Email">
        <br>
            <input type="password" name="password" placeholder="Password">
        <br>
            <input class="btn btn-dark" type="submit" placeholder="submit" value="Log In">
        <br>
        </form>

        <p class="reg-link">Not registered yet? Please <a href="{{ url_for('register') }}">REGISTER HERE</a> to begin</p>

    </div> -->

{% endblock %}