<nav class="navbar navbar-expand-lg bg-body-tertiary no-padding navbar-static-top">

    <div class="container-fluid navbar-col">
      <a class="navbar-brand" href="{{ url_for('index') }}">Body Reform Spa</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse margin-left" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}">Account</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bookings') }}">Book Now</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>