{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <div class="content-section">
        <form class="form-size needs-validation" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Join Today</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-md is-invalid required") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{  error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-md required") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-md is-invalid required") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{  error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-md required") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-md is-invalid required") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{  error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-md required") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-md is-invalid required") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{  error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-md required") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label required") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-md is-invalid required") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{  error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-md required") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group reg-btn">
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('index') }}">Sign In</a>
            </small>
        </div>
    </div>


{% endblock %}