* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&family=Tangerine&family=Tiro+Tamil&display=swap');

/* Error styles */
.error-con {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'cormorant-garamond';
}


/* Navbar styles */

.navbar-col {
    background: teal;
}

.nav-item {
    font-size: 20px;
}

.no-padding {
    padding: 0;
}

.nav-link {
    margin-left: 30px;
    color: aliceblue;
}


.homeimg {
    /* background-color: rgb(255, 232, 212); */
    background: url(/static/images/spabackground2.jpeg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100vh;

}

/* login styles/home and login page */
.homelog h1{
    font-family: 'Tangerine';
    font-size: 4em;
}

.homelog h4 {
    font-family: 'Tangerine';
    font-size: 3.5em;
}


.hm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.homelog {
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(152, 231, 231, 0.6);
    text-align: center;
}

.log-container {
    border-radius: 20px;
    background-color: rgba(152, 231, 231, 0.6);
    width: 20%;
    margin-top: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-form {
    padding: 10px;
    background-color: rgba(152, 231, 231, 0.6);
    border-radius: 20px;
}


/* .log-form input,h2 {
    margin-bottom: 0.5em;
} */

/* .log-form input[type=submit] {
    padding: 5px 20px;
} */

.homelog p {
    font-size: 1.2em;
}

.homelog button {
    margin-top: 10px;
    margin-right: 10px;
}

.reg-link a {
    color: black;
    text-decoration: none;
}

.reg-link a:hover {
    color: blue;
}

/* register page */

.content-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-size {
    width: 30em;
    padding: 10px;
    background-color: rgba(152, 231, 231, 0.6);
    border-radius: 20px;
}

.form-size legend {
    text-align: center;
}

.reg-btn {
    text-align: center;
    margin-top: 10px;
}

.alert {
    margin-bottom: 30px;
    margin: 0  auto;
    text-align: center;
}


/* account page */

.main-acc-cont {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

}

.sidebar {
    grid-column: span 2;
}

.backgrd {
    background-color: whitesmoke;
}

.bk-view button {
    margin-top: 10px;
}






/* media queries */
@media (min-width: 600px){

    .homelog {
        background-color: rgba(152, 231, 231, 0.6);
        padding-left: 1em;
        padding-right: 1em;
        margin: 0 1em;
    }

    .log-container {
        border-radius: 20px;
        background-color: rgba(152, 231, 231, 0.6);
        width: 30%;
        margin-top: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .log-form {
        width: 500px;
    }

    .backgrd {
        border-radius: 20px;
        padding: 10px;
        font-family: 'cormorant-garamond';
        margin: 10px 20px ;
    }

    .bk-view a {
        text-decoration: none;
        color: white;
    }



}

@media (max-width: 600px) {
    .homelog {
        background-color: rgba(152, 231, 231, 0.6);
        margin: 0 1em;
    }

    .homeimg {
        background-position: center;
    }

    .log-container {
        margin-bottom: 1em;
    }

    .log-container {
        border-radius: 20px;
        background-color: rgba(152, 231, 231, 0.6);
        width: 60%;
        margin-top: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-size {
        width: 20em;
        padding: 10px;
        background-color: rgba(152, 231, 231, 0.6);
        border-radius: 20px;
    }

    .main-acc-cont {
        height: 100vh;
        margin-top: 10px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
    }

    .sidebar {
        grid-column: 1 / 1;
    }

    .backgrd {
        border-radius: 20px;
        padding: 10px;
        font-family: 'cormorant-garamond';
    }

    .bk-view a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .bk-view {
        padding: 5px;
    }


}
